[2016-10-02 22:50] pyup-bot opened #1 "Initial Update"
Hi 👊

This is my first visit to this fine repo, but it seems you have been working hard to keep all dependencies updated so far.

Once you have closed this issue, I'll create seperate pull requests for every update as soon as I find one.

That's it for now!

Happy merging! 🤖

[2016-10-02 22:53] #1 closed

[2016-10-11 13:46] takac opened #15 "Travis CI py27 and py34 tests both use Python 3.5"
[code]
Tests are only running against python 3.5.

[2016-10-11 14:00] kragniz commented on #15
Tox handles the python version run on each job.

2.7 job tox logs:

[code]

3.4 job tox logs:
[code]

It's a bit confusing, since both tox and travis want to control the test matrix. It ends up being easier to just let tox deal with it, though. Python 3.5 isn't installed on the images travis uses by default, so it's set as the python version to make sure that it's available.

[2016-10-11 14:01] takac commented on #15
OK my bad, trying to learn Travis ☠️

[2016-10-11 14:01] #15 closed

[2016-10-20 02:40] durzo opened #31 "ImportError: No module named etcdrpc"
Firstly, thanks for taking the time to make this module. lots of people have been waiting for a v3 implementation.

Using Ubuntu 12.04 LTS with python 2.7.6 and pip 1.5.4. After installing via `pip install etcd3` and getting many, many warning messages (but successful installation):

[code]

[2016-10-20 02:58] durzo commented on #31
After reading the docs I guess I need to run the "generating protobuf stuff" which isn't clear this is a requirement for install ?

[code]

Seems I'm missing some stuff.. eventually figured out I had to install cython and grpcio-tools:
[code]

Now at a loss :/

[2016-10-20 03:23] durzo commented on #31
Getting further...

Fix missing gevent.socket errors:
[code]

Figured out I have to run the protobuf generate code from the source repo directory, not the module install dir.

[code]

What am I supposed to do with this file? where does it go? Lets try:

[code]

This is painfull :/

[2016-10-20 04:00] durzo commented on #31
Solved!

A bit of googling informed me I had conflicts with 'grpc' and 'grpcio'. So i cleaned everything and started over:

[code]

Wow, all this should really be documented better.

[2016-10-20 09:54] kragniz commented on #31
Hey, thanks for trying this out! As you can tell, it's in a very early state. You shouldn't have to generate the protobuf stubs yourself, since these should be bundled with the rest of the code.

I hadn't actually tested installing it with pip, my bad. It works okay from a git clone, but not from pypi:

[code]

I'll have a look and see what's wrong with the version pushed to pypi.

[2016-10-20 10:37] kragniz commented on #31
This should now be fixed with 4abdd6352b85eb3e37e6006a01b2392f0abc72c3. I've pushed 0.2.2 to pypi, which seems to work okay.

[2016-10-20 13:23] durzo commented on #31
Tested on a clean install, works fine now. thanks!

[2016-10-20 13:23] #31 closed

[2016-10-23 17:35] lavagetto opened #32 "Merging forces"
Hi,

I am one of the authors of python-etcd and I have written a very crude client for etcd3 as well, which I was going to publish when I got some of the parts there to work better.

Would you like me to submit pull requests with parts of my code that are (IMHO) more complete to your current implementation? If so, what I have to offer is the following:

- Cluster discovery via DNS or a list of end

[2016-10-24 10:25] kragniz commented on #32
Hey, thanks for the interest. Of course, pull requests are always welcome!

What does the transaction-related syntactic sugar look like? My current plan for transactions is to have a slightly verbose, but powerful method containing a list of comparisons, success actions and failure actions:

[code]
and then writing common transactions in terms of this method (eg `put_if_equal`, `delete_if_equal`)

[2016-10-24 13:41] lavagetto commented on #32
@kragniz my implementation is not very different from yours, but maybe less elegant. Still, it kind-of reminds me of
[code]

[2016-10-24 14:52] kragniz commented on #32
I'd personally rather the transaction happened in a single method call on the client without having to create additional objects. I'm trying to keep the API as clean and readable as possible.

We're currently very early in development, so breaking the API is totally okay!

[2016-10-25 05:15] SamuelMarks commented on #32
Why not use a Context manager:
[code]

Or even more Pythonic
[code]

With `generators` you can go even further with that last example, and lazily construct the equivalent to your example (one transaction) but with the more expected design.

[2016-10-25 06:51] lavagetto commented on #32
@SamuelMarks I first started going down the contextmanager way, but that comes from a misconception about what a transaction is in etcd v3 terms:

a Transaction is a request where if some conditions are met then action1 is taken, and on failure some others are; but it's a single request, so there is no way for python to know if the precondition works as you tried to suggest.

I think even implemen

[2016-10-25 06:52] lavagetto commented on #32
@kragniz would you think maintaining, to the extent where it's possible, some compatibility of the API to python-etcd a valuable proposition?

I think so, if only for selfish reasons (I don't want to rewrite all of my current code from scratch).

[2016-10-25 10:16] kragniz commented on #32
@lavagetto transactions in the current form work fine, but are incomplete (the only [ops implemented are put and get](https://github.com/kragniz/python-etcd3/blob/63023fb2bef40b81b0b122da84823a798c938cda/etcd3/client.py#L244-L294)). You can see it in use in the [implementation for replace](https://github.com/kragniz/python-etcd3/blob/63023fb2bef40b81b0b122da84823a798c938cda/etcd3/client.py#L159-L1

[2016-11-01 12:06] lavagetto commented on #32
Ok so, I compared the two code bases and the first thing I noticed is that I used the `grpc.beta` implementation of grpc, while you used the standard one. The reason to use the beta implementation is simply that the non-beta one doesn't support per-request timeouts, which IMO are pretty necessary for the library to be used in a production environment.

I took a look at your code and I think the ch

[2016-11-01 12:13] kragniz commented on #32
That sounds like a good list of additions.

[2016-11-18 13:42] kragniz opened #47 "Watching breaks Ctrl+c"
To reproduce, run make a `watcher.py`:

[code]

I'd expect Ctrl+c to exit the process, but that doesn't work:

[code]

Sending a SIGTERM makes it exit.

[2016-11-18 14:01] WangFenjin commented on #47
I don't think we should capture ctrl+c in this lib and cancel the watch.

As we had expose the cancel method to user, they should do it in their code.

[2016-11-18 15:00] kragniz commented on #47
So it kinda works in python 3, but looking at https://github.com/grpc/grpc/issues/6999, it seems upstream grpc people don't care. Maybe leaving this and documenting that it doesn't work in python 2 would be best.

[2016-11-18 15:32] WangFenjin commented on #47
Oh, didn't know it's because of condition.wait()... I'm not a python expert, do we have something better to replace condition.wait()?

BTW, in one of my project, I start a daemon thread to watch the key change, But when the main thread exit, it print an error message said "segmentation fault". Not sure if related to the usage of condition.wait(), as the doc said daemon thread will exit if it's the

[2016-11-22 16:43] kragniz opened #50 "Implement API features"
The following gRPC methods should have comparative functionality in the python-etcd3 API. This issue is to keep track of features that still require some implementation.

Auth
----

- [ ] `AuthEnable`
- [ ] `AuthDisable`
- [ ] `Authenticate`
- [ ] `UserAdd`
- [ ] `UserGet`
- [ ] `UserList`
- [ ] `UserDelete`
- [ ] `UserChangePassword`
- [ ] `UserGrantRole`
- [ ] `UserRevokeRole`
- [ ] `RoleAdd`
-

[2016-11-29 07:51] CyberDem0n commented on #50
Unfortunately `KV` implementation is not feature-full yet.
Response on `Range` request must return not only `values` (and `keys`) but all available meta-data (create_revision, mod_revision, version, lease) together with `ResponseHeader`, otherwise it is not possible to implement something more complex than a child-toy app listing keys and values... :(

Also I think `KeyNotFoundError` exception sho

[2016-11-29 10:58] kragniz opened #53 "KV metadata in API"
The current KV api is nice and simple for getting values:

[code]
It doesn't allow for retrieving the metadata about keys, however.

We need to figure out a nice api for showing all the data: key, create_revision, mod_revision, version, value, lease.

How other projects do it:

python-etcd
----------------

python-etcd returns an object for all reads containing a `.value` attribute to read the act

[2016-11-29 11:00] kragniz commented on #50
Yeah, this list is mostly about which parts of the gRPC api have been implemented, not which parts have a finished publicly facing api.

About the KV stuff, I started #53. Feel free to write your thoughts there.

[2016-11-29 15:04] CyberDem0n commented on #53
I have a big experience of working with all projects mentioned above and I think approaches used by these projects are fine (they are solving it's purpose). The only difference with gRPC is that they had implement response object on their own (except python-consul, they simply used dict for that :)) due to protocol nature (kazoo is using binary protocol on very low level and python-etcd and python

[2016-11-29 15:12] kragniz commented on #53
My current thought is to borrow from kazoo's api design, but make the stat optional. Something like:

[code]

This keeps the basic api simple to use, but allows for access to the extra metadata if it's required. Having a function that changes its return type based of parameters is a little ugly, though.

[2016-11-29 15:33] CyberDem0n commented on #53
Yes, it is very ugly...
And don't forget that together with key metadata we also need cluster-wide metadata (especially ResponseHeader.revision).
If the key hasn't been updated very long time watch on mod_revision will fail because history was already compacted, but if you use ResponseHeader.revision for that it will work fine.
In this sense python-etcd approach looks more sane, but the difference

[2016-11-29 15:45] Lukasa commented on #53
Why not simply always return the metadata? Users who don't want it can always indicate that they don't care by saying `data, _ = etcd.get('/key')`.

Alternatively, have two separate functions: `get` and `get_with_metadata`. If a user decides they now need the metadata, they can simply change their function call to get it. Both options avoid the need to have return types that change based on contex

[2016-11-29 15:57] kragniz commented on #53
@Lukasa you make a good point, it's not much extra effort to just throw away the extra data.

[2016-12-01 05:51] CyberDem0n commented on #53
@kragniz, I've noticed that you started implementing it, but you forgot one important thing:

    together with key metadata we also need cluster-wide metadata (especially
    ResponseHeader.revision). If the key hasn't been updated very long time, watch
    on mod_revision will fail because history was already compacted. But, if you use
    ResponseHeader.revision for that it will work fine.

I h

[2016-12-01 10:24] kragniz commented on #53
@CyberDem0n hang on, it's not finished yet!

[2016-12-04 15:24] yannlambret opened #56 "Get 'None' or a default value if key does not exist"
Hello,

Thanks for working on this. I've just started using etcd v3 so maybe I'm missing something, but I find that the default behavior of the client's 'get' method when requesting a non-existing key is inappropriate. I think we should take advantage of a behavior similar to the Python dictionary, i.e. be able to get at least 'None' instead of catching an exception.

This is especially true when

[2016-12-05 10:47] kragniz commented on #56
You'd prefer something like this?

[code]

[2016-12-05 11:11] yannlambret commented on #56
I would indeed, I think it would allow to write more concise code in most situations. What do you think ?

[2016-12-05 22:28] Zimnx commented on #56
Official etcd2 client throws exception when key is not found, I would prefer current behavior. Current implementations can simply switch type of Exception handled without modifying logic around client.

[2016-12-06 11:41] yannlambret commented on #56
There is no official Python client for etcd, just third party libraries referenced in the documentation - as this one is. If you take a look at the behavior of the go etcd client for v3 API (which is the only one maintained by CoreOS as part of the project), it returns a data structure as part of the response (resp.Kvs) which is empty if a key is not found, and the error returned by the .Get metho

[2016-12-06 11:45] minus7 commented on #56
I'd mimic the behaviour of dict: raise KeyError (or a subclass thereof containing the KVMetadata object) if a non-existent key is accessed without providing a default. To check if a key exists `in`/`__contains__` should be used. (A successful `get` returning a tuple isn't particularly nice either, maybe a proxy object would work there better?)

Disclaimer: I've never used etcd nor this library.

[2016-12-21 09:08] yannlambret opened #71 "Adding a callback to watch a prefix"
Hi,

It looks like there is currently no way to add a callback to watch a prefix. Client's `add_watch_callback` method works perfectly when watching a key, but the only way to watch a prefix is to do it in a blocking way as shown in the README:

[code]
When doing this in a dedicated thread, the execution is blocked as long as the `events_iterator` generator does not yield any value, and I'm not ab

[2016-12-21 19:57] yannlambret commented on #71
To answer my own question, I managed to do it by using the `range_end` kwarg of the `add_watch_callback` method.

[2016-12-21 19:57] #71 closed

[2016-12-23 12:05] takac opened #72 "Wrap grpc exceptions"
The client can throw out quite confusing grpc exceptions which could be neatly wrapped.

[code]

Deadline exceeded is a non critical error I would like to catch:

[code]

Another obvious one I have seen: StatusUnavailable

[code]

[2017-01-04 10:39] kragniz commented on #72
Should be fixed with #63

[2017-01-04 10:39] #72 closed

[2017-01-04 10:40] kragniz commented on #56
Addressed by #73

[2017-01-04 10:40] #56 closed

[2017-01-06 17:32] kragniz opened #76 "Docs show every method's args as *args, **kwargs"
For some reason the docs are displaying method arguments as `(*args, **kwargs)`.

eg `get_prefix(*args, **kwargs)` instead of `get_prefix(self, key_prefix, sort_order=None, sort_target='key')`

Not sure why this is happening, but it makes them really confusing so should be fixed.

[2017-02-09 16:41] ChristopheDaSilva opened #88 "Watch with no etcd up - Infinite loop"
Hi,

When we try, to add a watch but etcd is not running, there is no exception raise or status failed return.

In the next example, I try to connect the with the wrong port. No issue for client creation, but when I create my watch, etcd3 never return.

[code]

In the watch.py file (add_callback method), the watch queue is not receiving the watcher timeout.

I think at this line:
`return self._wat

[2017-02-09 16:44] kragniz commented on #88
That sounds like a reasonable change. Do you fancy making a pull request for it?

[2017-02-10 09:23] ChristopheDaSilva commented on #88
Yes, I will make it.

[2017-02-10 10:56] kragniz commented on #88
Great, thanks!

[2017-03-07 22:15] akuchibotla commented on #50
New to this repository and contributing in general and hoping to get into it with smaller feature additions. Do you think that adding a `contains` feature would be useful to determine whether or not a key is contained within an etcd instance? I understand it's quite trivial to check but it would make for a more complete KV api.

[2017-03-08 10:34] kragniz commented on #50
@akuchibotla `exists(key)` might be useful, although it's generally easier to check if `get(key)` returns None.

If you want something small to work on, you could implement Hash? (https://github.com/coreos/etcd/blob/master/Documentation/dev-guide/api_reference_v3.md#service-maintenance-etcdserveretcdserverpbrpcproto)

[2017-03-09 01:46] jaypipes opened #93 "A few broken links in install docs"
Nothing major, just a few broken links in the install docs that mention github.com/kragniz/etcd3 instead of github.com/kragniz/python-etcd3.

[2017-03-09 08:54] kragniz commented on #93
Fixed in #94

[2017-03-09 08:54] #93 closed

[2017-03-16 10:05] therve opened #96 "Grpc exceptions wrapping doesn't work with generators"
The _handle_errors generator ought to work with regular functions, but generators like get_prefix and get_all fails outside of the return. It should be handled specifically.

[2017-03-16 11:29] #96 closed

[2017-03-17 19:24] davissp14 opened #98 "Add support for Auth"
Doesn't look like there's anyway to provide user credentials to the etcd.client object.

[2017-03-17 19:40] kragniz commented on #98
Yeah, I'd like this to be added, it's the last big chunk of API coverage we're missing (see https://github.com/kragniz/python-etcd3/issues/50).

[2017-03-17 19:41] kragniz commented on #88
Hey @ChristopheDaSilva, any update on this? Need any help?

[2017-03-19 14:42] davissp14 commented on #98
Looking at how to support this for both Python and Ruby, it seems unclear how we would actually use the  generated Authentication token.  Have you done much digging on this yet?

[2017-03-20 13:11] kragniz opened #99 "Remove in tree generated grpc code"
It'd be nicer if the grpc code was generated at build time rather than kept in tree.

[2017-03-22 10:45] kragniz opened #102 "Add HTTP backend"
gRPC is nice, but is awkward to deploy in some situations (using eventlet, running on musl libc, and other problems with the C library). The HTTP proxy API appears to be in a better state these days, so a backend could be created to only communicate using that.

This would expose the same python API.

[2017-03-24 12:03] wrouesnel opened #103 "Support DNS SRV discovery of endpoints."
It would be nice to support using the same DNS SRV record structure as etcdctl and etcd can use to discover endpoints.

[2017-03-24 12:07] kragniz commented on #103
Yeah, this'd be nice to have.

[2017-03-30 08:50] Lukasa commented on #102
An alternative approach would be to build a custom backend on top of protobufs and something like [hyper-h2](https://python-hyper.org/h2/) that implements just the portions of HTTP/2 that are required for use with grpc. My understanding is that that's a fairly restricted subset, so hyper-h2 should be a good fit.

[2017-04-13 13:06] gkarvounis commented on #88
Similar problem exists when etcd terminates after watch has been initiated.
For example, while following script is running, etcd shutdown does not cause any exception:
[code]
Would the patch mentioned above fix this issue as well?

[2017-04-15 00:19] connor4312 opened #109 "Lock with leases"
I was browsing through this client while working on a version for Node.js. I noticed that your locking is implemented on a straight k/v without using a lease. I suggest you consider using a lease for this, so that if something happens to the server or application which makes the lock, the resource isn't abandoned indefinitely. The downside is that it's possible that a lock is 'lost' while a proces

[2017-04-15 00:29] kragniz commented on #109
The lock code is pretty dodgy, but it does use a lease https://github.com/kragniz/python-etcd3/blob/master/etcd3/locks.py#L57

It's mostly a stop-gap until https://github.com/coreos/etcd/pull/7444 is released, at which point I'll switch to using that.

[2017-04-15 01:12] connor4312 commented on #109
Ah, great. Somehow I skimmed over that. Nevermind then! 😄

[2017-04-15 01:12] #109 closed

[2017-04-18 08:22] yueyongyue opened #111 "leader ID None"
python-etcd3 version 0.5.2
client.py

336        for m in self.members:
337            if m.id == status_response.leader:
338                leader = m
339            else:
340                # raise exception?
341                leader = None

leader  maybe return None in most cases

[2017-04-18 15:57] nmakro commented on #88
Hi,

It seems that any call to a client that is not initialized properly never returns.

etcd_con = etcd3.client(host='wrong_host', port=1234)
etcd_con.status()

It hangs and i have to Ctrl-C to stop it.
Traceback:
python test_etcd.py
^CTraceback (most recent call last):
  File "test_etcd.py", line 6, in <module>
    etcd_con.status()
  File "/usr/lib/python2.7/site-packages/etcd3/client.py", line

[2017-04-19 03:17] davidstack opened #112 "etcd3.client() support etcd cluster"
can i set etcd cluster address in etcd3.client(host="192.168.0.9,192.168.0.10“)

[2017-04-19 08:05] kragniz commented on #112
Not currently. After #106 goes in, it can be added quite easily.

[2017-04-19 08:08] kragniz commented on #111
The error handling here is a bit suspect, but if leader is None in most cases, something is probably going wrong with your etcd cluster.

[2017-04-19 16:07] nmakro opened #113 "RpcError when lease has expired is raised unhandled."
Hi,

While testing how a lease works i noticed that upon a lease expiration this unhandled exception is raised:

**grpc._channel._Rendezvous: <_Rendezvous of RPC that terminated with (StatusCode.NOT_FOUND, etcdserver: requested lease not found)>**

I used the python debugger and the error handling seems to fail in the _handle_errors decorator [here](https://github.com/kragniz/python-etcd3/blob/mas

[2017-04-20 02:46] yueyongyue commented on #111
for m in self.members:
            if m.id == status_response.leader:
                leader = m
            else:
                # raise exception?
                leader = None

Only the last cycle ，m.id == status_response.leader ，leader is not None
Other conditions leader is None

[2017-04-21 03:34] davidstack commented on #112
ok, thanks

[2017-04-21 03:34] #112 closed

[2017-04-21 12:29] dimd opened #115 "Dockerfile python version"
The python docker image version is not decalring a specific version, so the latest one is downloaded.
Currently the latest version is 3.6.1. This causes this step of the image build to fail:

[code]

since python3.5 is not installed.

One solution would be to explicitly declare the desired python version in the FROM directive.

[2017-04-21 12:34] kragniz commented on #115
Yeah, depending on the `latest` tag is always a bad idea.

Do you fancy making a pull request to fix it?

[2017-04-21 12:38] dimd commented on #115
Yeah sure! It's pretty straightforward.

[2017-04-21 15:21] kragniz commented on #115
Fixed in #117

[2017-04-21 15:21] #115 closed

[2017-05-10 07:20] yueyongyue opened #128 "Will python-etcd3 grpc server close the idle connection in sometime later?"

[2017-05-16 09:44] styleex opened #134 "WatchResponse `compact_revision` infinity loop"
In application I can't detect when etcd return compact_revision in WatchResponse. I expect, what in this case exception will raised and i can react on it (for example run full synchronizaion)

[2017-05-16 10:33] styleex opened #135 "Can't access to ResponseHeader"
In get/put/del/watch response, can't access to ResponseHeader (in particular, revision field)

[2017-05-23 12:59] #88 closed

[2017-05-30 10:14] daoiqi commented on #71
It is to expose too implementation details to use param `range_end` for user?

[2017-06-01 15:56] jd opened #150 "Add support for multiple endpoints"
When running etcd3 as a cluster, it'd be useful to be able to specify multiple endpoints to try to connect to. It seems the Go client allows that, for example.

[2017-06-05 04:13] daoiqi opened #151 "support py3.6?"
support py3.6?

[2017-06-07 03:49] daoiqi opened #152 "watch key is CPU100 dead"
centos7.2, python2.7  etcd3 0.5.2

I put 20w key to etcd3, try to test python-etcd3 watch performance.

[code]

[code]

[code]

[2017-06-07 22:21] kragniz commented on #151
Hi, it should work on python 3.6, but the tests are currently not run against it. If you run into any problems, file issues

[2017-06-08 02:02] daoiqi commented on #134
it will same https://github.com/kragniz/python-etcd3/issues/152 ?

[2017-06-18 13:53] lavagetto opened #161 "Transactions don't work with empty values."
At the moment, python-etcd3 code for transactions doesn't allow no value to be defined in compare operations (which would be, in SQL terms, the NULL term).

This means that it's impossible to write even simple constructs like "Create this key if it doesn't exist".

[code]

[2017-06-18 14:24] lavagetto commented on #161
Digging a bit deeper, there are things in transactions that are really not documented at all, but the correct way to do what I wanted to do there is a bit counter-intuitive:

[code]

So no need to add support for empty values as it seemed logical from the coreos docs.

[2017-06-18 14:24] #161 closed

[2017-07-16 21:31] jbrendel opened #172 "status() doesn't honor timeout, hangs indefinitely"
In `Etcd3Client.status()` there is the line:

    status_response = self.maintenancestub.Status(status_request)

No 'timeout' value is passed in. Therefore, if it can't connect to etcd at this point (maybe the server can't be reached) it will just sit there for a long time. It will probably timeout eventually, but it's too long.

It's easy to honor the timeout value of the etcd client, though, by

[2017-07-16 23:38] #172 closed

[2017-07-17 13:15] justdoit0823 opened #174 "Lazy etcd client watcher?"
Hi, now in Etcd3Client's initialize function, the watcher member is a self-started thread, while watcher is not for all.

Initialize Etcd3Client while initializing watcher

[code]

Watcher is a auto-start daemon thread.

[code]

Is there any consideration about lazy watcher thread start?

[2017-08-04 01:36] Mr-Dai opened #187 "Deadlock when adding watch callback in a callback"
The current implementation of method `Etcd3Client.add_watch_callback` will trigger deadlock (block indefinitely) if it is invoked in a watch callback function.

For example:

[code]

The second `"Callback done."` can never be printed if you run this code.

This problem is applicable to other methods which invoke `add_watch_callback`, including `watch`, `watch_once`, `watch_prefix` and `watch_prefi

[2017-08-04 01:53] Mr-Dai commented on #187
The current implementation uses the same thread (`etcd3.watch.Watcher.run`) to execute user-defined callbacks and get watch id from etcd when user is invoking `add_callback`:

[code]

While the watcher is running user-defined callback, it pauses at the statement `callback(events.new_event(event))` on the last line of the `try` clause. In this situation, the `add_callback` will block indefinitely (

[2017-08-04 02:03] Mr-Dai commented on #187
I managed to bypass this problem by using 2 `Etcd3Client`s:

[code]

The way I implement `cancel_watch` is not perfect, but it's effective.

Hope this can help.

[2017-08-14 11:03] #151 closed

[2017-08-19 08:15] #134 closed

[2017-09-05 09:44] joe-pll commented on #98
Hi, with my company we required to have authentication and users/roles methods. We implemented those, but we don't have time to write all the documentation and the tests. If you want to have look at it and maybe change what you need then I'll make the PR. Let me know.

[2017-09-07 09:10] tangzhenquan opened #224 "Is etcd3 client thread safe?"
Is etcd3  client thread safe?

[2017-09-29 02:43] ulaskeles commented on #76
Sphinx is seeing the signature for the wrapping function instead of the original function. I have an open PR https://github.com/kragniz/python-etcd3/pull/245 that renders docs like this:

<img width="645" src="https://user-images.githubusercontent.com/570160/30998616-946e9490-a495-11e7-9ecd-7a1562ab94ae.png">

[2017-10-11 07:13] mdsf22 opened #258 "cpu too high"
mport etcd3
import json
import time

etcd = etcd3.client(host='127.0.0.1', port=2379)

while True:
        try:
                etcd.put('test', '123456')
                time.sleep(1)
                print '===='
        except Exception as error:
                print 'error'

if  kill the etcd server,  then the cpu of the client is too high, maybe 80%

[2017-10-13 05:33] mdsf22 commented on #258
if i delete watcher  in client.py
        self.watcher = watch.Watcher(etcdrpc.WatchStub(self.channel),
                                     timeout=self.timeout)

that is ok

[2017-11-13 09:21] justdoit0823 opened #282 "Authtication with username and password doesn't work?"
@kragniz , after installed etcd3 version 0.7.0, I can't access data in `etcd` when user authentication is enabled. The following is the traceback,

[code]

This was tested on my Mac, with python version 3.6, and detailed as the followed,
[code]

The Mac version is `Darwin yusenbindeMacBook-Pro.local 17.2.0 Darwin Kernel Version 17.2.0: Fri Sep 29 18:27:05 PDT 2017; root:xnu-4570.20.62~3/RELEASE_X8

[2017-11-13 17:05] davissp14 commented on #282
# Get
https://github.com/kragniz/python-etcd3/blob/master/etcd3/client.py#L246-L250

# EtcdTokenCallCredentials
https://github.com/kragniz/python-etcd3/blob/master/etcd3/client.py#L89-L97

Looks like `metadata` isn't being set properly...

[code]

Should be:

[code]

[2017-11-21 06:38] daoiqi commented on #258
Is about Thread performance ?

[2017-11-24 00:31] Nitrogenycs opened #291 "Memory leak"
Repeatedly calling etcd3.client(...) in a loop will leak lots of memory over time. The main reasons seems to be that this creates a watcher thread every time. This thread is never stopped or deleted thus causing memory to grow without bounds.

[2017-12-11 03:19] wjun commented on #291
I also meet this issue and can get thousands of threads in one day or two. After I disable watcher creations, the number of threads and etcd connections get stable.

[2018-01-31 15:55] davissp14 opened #340 "Add support for https endpoints"
https://github.com/kragniz/python-etcd3/blob/master/etcd3/client.py#L108

As of right now if no certs are provided it's assumed it's an insecure connection.  We should be setting the default grpc channel credentials in the event https is present without certs.

https://github.com/davissp14/etcdv3-ruby/blob/master/lib/etcdv3/connection.rb#L41-L47

[2018-01-31 16:29] davissp14 commented on #340
Looks like this may be what we want here:
https://grpc.io/grpc/python/grpc.html#grpc.ssl_channel_credentials

`The PEM-encoded root certificates as a byte string, or None to retrieve them from a default location chosen by gRPC runtime.`

[2018-02-07 15:04] tector commented on #282
Any update here? It is a showstopper right now in our project :(

[2018-02-22 12:53] uglywizkid opened #353 "Remove locks prefix or make it at least configurable"
Why do you prefix the lock keys with "/locks/"?
Why is this not mentioned in the API documentation?
Why is this not configurable?

[code]

[2018-03-03 07:25] vhosakot opened #362 "What is the API to get all the keys (not values) in etcd3?"
The `get_all()` API returns the values of all the keys, but not the keys themselves.

After putting the following keys and values, what is the API to get a list of just the keys `/foo`, `/bar`, `/baz` and `/qux`?

[code]

I was not able to find this in the documentation in https://python-etcd3.readthedocs.io/en/latest/usage.html.

It is possible to get just the keys in `etcd3` using `etcdctl` the

[2018-03-05 18:16] vhosakot commented on #362
/cc @kragniz

[2018-03-06 21:17] graysonchao commented on #362
Looks like it is `get_all`: https://python-etcd3.readthedocs.io/en/latest/usage.html#etcd3.Etcd3Client.get_all

[2018-03-08 17:06] davissp14 commented on #282
@tector The token you'd be passing in is the resp.token.  https://github.com/kragniz/python-etcd3/blob/master/etcd3/client.py#L145

[2018-03-12 17:01] vhosakot commented on #362
/cc @kragniz any thoughts?

[2018-03-12 17:20] kragniz commented on #362
There isn't a method to do this, but you can get all and extract only the keys:

[code]

[2018-03-12 17:20] kragniz commented on #362
Maybe a utility function for this would be useful, if you'd like to submit a pr

[2018-03-12 18:31] vhosakot commented on #362
Thanks @kragniz, that works!

[code]

[2018-03-12 18:31] #362 closed

[2018-03-13 05:16] vhosakot opened #369 "Exception when many threads wait to acquire etcd3 lock"
When 10 threads wait to acquire the etcd3 lock, I see this exception sometimes:

[code]

[2018-03-14 10:43] damienleger commented on #282
Hello. I've proposed a PR to fix this issue here https://github.com/kragniz/python-etcd3/pull/370

[2018-03-14 11:18] kragniz opened #371 "Flaky CI"
We're seeing this error message intermittently in CI, causing most jobs to fail:

[code]

[2018-03-15 14:38] vhosakot commented on #32
@lavagetto @kragniz is etcd3's TLS supported?

http://python-etcd3.readthedocs.io/en/latest/search.html?q=cert

I see in http://python-etcd3.readthedocs.io/en/latest/usage.html?highlight=cert#api that we can pass cert information to the etcd3 client as follows:

[code]

Does this mean we can use the etcd3 client to securely interact with an etcd server with TLS enabled? Can you confirm?

[2018-03-19 20:45] vhosakot commented on #32
@lavagetto @kragniz can you confirm if TLS works?

[2018-03-21 13:16] Revolution1 commented on #102
build a client based on gRPC-JSON-Gateway https://github.com/Revolution1/etcd3-py, which is http backended

btw:
https://github.com/vmagamedov/grpclib   a Pure-Python gRPC implementation
https://github.com/grpc/grpc/issues/4629  official eventlet support is on the way

[2018-03-22 02:12] hallelujah-shih opened #379 "Setting GRPC Environment Variables to Support ECDHE-ECDSA cipher suite"
When the algorithm uses ecdsa, the GRPC default cipher suite cannot connect to etcd。

os.environ["GRPC_SSL_CIPHER_SUITES"] = "ECDHE-ECDSA-AES256-GCM-SHA384"

[2018-03-29 17:08] Revolution1 opened #388 "[INFO] Gevent is now officially supported by grpc"
https://github.com/grpc/grpc/issues/4629
https://github.com/grpc/grpc/pull/14561

[2018-03-31 00:13] #76 closed

[2018-04-19 05:39] dementedhedgehog opened #406 "No way to get the etcd revision from puts and transaction transaction puts"
We want to check the whole etcd hasn't changed, for reasons...  Would it be cool to return them instead of None, something like the following:

diff --git a/etcd3/client.py b/etcd3/client.py
index 662d125..55a85df 100644
--- a/etcd3/client.py
+++ b/etcd3/client.py
@@ -346,12 +346,13 @@ class Etcd3Client(object):
         :type lease: either :class:`.Lease`, or int (ID of lease)
         """

[2018-04-20 04:52] dementedhedgehog opened #408 "Do get_prefix() and get_all() return values when they should return keys and values?"
The docs say they return keys.
My experience says they return values.
etcdctl returns both keys and values for get_prefix

Am I crazy?

[2018-04-22 21:50] dementedhedgehog commented on #408
The keys are returned in the metadata.  Should be fixed in docs I reckon.

[2018-04-22 21:50] #408 closed

[2018-04-23 04:03] lynic opened #415 "Any plan to release a new version?"

[2018-04-23 04:12] lynic commented on #415
Need commit e86460e3049ae203801f6e7a4576c3f11631b63e

[2018-04-24 10:49] kragniz commented on #415
I've been delaying this since the tests are still flaky (etcdctl segfaulting randomly and other problems). I'll try and get a release out soon, anyway.

[2018-04-30 15:03] surinkim opened #419 "etcd3.exceptions.ConnectionFailedError"
My python code is simple from [etcd3 readme.md](https://github.com/kragniz/python-etcd3).

    import etcd3
    etcd = etcd3.client()
    etcd.get('foo')

However, when the script run, `etcd3.exceptions.ConnectionFailedError
` has occurred.

Because I can it by using `curl + etcdctl`, so, I think it is not `etcd` problem.

    $ curl -L http://localhost:4001/v2/keys/mykey -XPUT -d value="Hello"

[2018-05-05 02:02] surinkim commented on #419
I did not check the version of etcd in advance.
After installing etcd version 3.3.4, everything is OK.
The version I installed was 2.2.5.

[2018-05-05 02:02] #419 closed

[2018-05-08 08:58] JinmingHao opened #423 "Create client error"
Something wrong when create etcd client,

        Traceback (most recent call last):
          File "grpc.py", line 1, in <module>
             import etcd3
          File "/home/vagrant/.pyenv/versions/promotion/lib/python3.6/site-packages/etcd3/__init__.py", l
       ine 4, in <module>
            from etcd3.client import Etcd3Client
          File "/home/vagrant/.pyenv/versions/promotion/lib/py

[2018-05-08 09:08] #423 closed

[2018-05-10 06:31] #415 closed

[2018-05-11 14:30] joelazar commented on #291
I think it's solved now. I've tried this out with the latest version (0.8.0) and didn't experienced memory/thread leaking.

[2018-05-14 06:46] zhangzujian opened #429 "tenacity v4.10.0 breaks the compatibility with python v2.7"
tenacity is not compatible with python 2.7 after version 4.4.0.

Related issue: https://github.com/jd/tenacity/issues/88

EDIT:

It's a problem of building a RPM package and can be resolved by setting the RPM spec:

[code]

[2018-05-14 08:01] #429 closed

[2018-05-15 23:30] kaiw opened #430 "New grpc release breaks `python-etcd3`'s implicit protobuf requirement"
The most recent grpc release removes their dependency on protobuf (see https://github.com/grpc/grpc/releases/tag/v1.12.0), which breaks `python-etcd3`. Since there's explicit protobuf usage here, it seems reasonable to add a protobuf dependency to the requirements?

[2018-05-16 10:11] #430 closed

[2018-06-01 08:24] gszpura opened #436 "No support for eventlet"
This is just knowledge sharing.
I think that python-etcd3 is blocking eventlet greenthreads.
Here's a blocking example:
[code]

The problem is probably in grpcio lib as it stops here:
[code]

If you have any information about this topic I will appreciate.

[2018-06-01 09:38] jd commented on #436
grpcio is not compatible with eventlet.

[2018-06-01 09:38] #436 closed

[2018-06-04 16:23] xuhuigithub opened #437 "Bug: Can't kill the process of watch unless kill -9 in python27"
HI @jd
When I used watch code in Python 2.7, when I wanted to stop watch, I found that I could not stop it unless I forced it.

[code]

[2018-06-04 16:28] xuhuigithub commented on #437
But I finally found the reason, because Python native queue library Queue.Queue, when using the get method of the queue instance, there will be a mutex blocking all threads. I did a test with the following code ,is it similar to your code?[https://github.com/kragniz/python-etcd3/blob/a3ccb115bdb2c2b9c2e4b590991dd50170dbc3ef/etcd3/client.py#L504](https://github.com/kragniz/python-etcd3/blob/a3ccb11

[2018-06-15 09:57] jd opened #442 "0.8.1 not on PyPI"
@kragniz I've pushed 0.8.1 tag but somehow it did not end up on PyPI. Not sure what I've missed?

[2018-06-15 10:02] kragniz commented on #442
I took a look and it seems like the release automation is broken now, since it's still checking $TOXENV which was removed a while ago:

https://github.com/kragniz/python-etcd3/blob/master/.travis.yml#L33

[2018-06-15 10:16] kragniz commented on #442
I need to spend some more time maintaining this :cry:

[2018-06-17 12:00] #388 closed

[2018-06-18 07:43] jd commented on #442
@kragniz Can you upload manually in the meantime?

[2018-06-18 08:30] kragniz commented on #442
pushed

[2018-06-25 22:59] tinder-tylerport commented on #32
still waiting....

[2018-07-09 07:51] yuandy opened #465 "it cannot support protocol="https"??"

[2018-07-10 10:22] mattzque commented on #340
seems like the library is not actively developed anymore?
I've got the same issue, simple fix would be something like this: https://github.com/mattzque/python-etcd3/commit/36d5e3504b012b7e1794e34e1b460f39c5e8d0ca
and then passing ca_cert=True, that will then specify None to ssl_channel_credentials

Multiple hostnames would be another critical feature, but that also seems to have stalled https://gi

[2018-07-11 07:41] jd opened #467 "Enable Mergify"
@kragniz I'd like to enable https://mergify.io on this repository. I'm good to configure it but I don't have the permission to enable the app. If you're in and enable it, I'll configure it.

[2018-07-12 09:14] kragniz commented on #467
I'm happy to give it a try

[2018-07-12 09:14] kragniz commented on #467
I've enabled it for this repo

[2018-07-16 03:20] niconorsk commented on #371
I've been looking at what flakiness is still there in the current state.

The main cause of failure these days seems to be the etcd process itself managed by pifpaf returning a non-zero exit code with all the tests passing. Not sure what the best approach is though.

One option is this in `tox.ini`:
[code]
This would ignore the etcd errors but does feel like we may brush potential problems under t

[2018-07-16 11:17] jd commented on #371
@niconorsk do you have a log file around that shows this flakyness?

As for the eval thing, I don't think it'd change anything. That being said, if you want to test this approach, you need an intermediate shell script indeed.

[2018-07-16 23:12] niconorsk commented on #371
@jd Upon further testing, I am no longer so sure that it's the etcd process crashing.  It's possible that its something going wrong during interpreter shutdown.  This only seems to happen on Travis runs and not when running locally.

Here are some failures after I turned on debug logging:
https://travis-ci.org/niconorsk/python-etcd3/jobs/404304316
https://travis-ci.org/niconorsk/python-etcd3/jobs/

[2018-07-17 08:57] jd commented on #371
You seem to be on something @niconorsk. The process pifpaf launches (pytest) exits with an exit code of 245, which is -11, and as someone smart said on the Internet, that the signal value for SIGSEGV. So while I don't see any `Segmentation fault` being printed, it's possible that the `subprocess.Popen().wait()` that's used by pifpaf returns an exit code of -11  because pytest segfaults.

The cause

[2018-07-17 08:57] #442 closed

[2018-07-17 22:29] niconorsk commented on #371
@jd I have created https://github.com/kragniz/python-etcd3/pull/474 that seems to help this issue and seems like a good resource managemnt thing to do anyways

[2018-07-19 09:55] songpengwei opened #475 "The client does not have 'close' exported"
https://github.com/kragniz/python-etcd3/blob/7e716d8f7be866b11f1337c6c438aafa1cda08c3/etcd3/client.py#L170

when I call the client.close(), it raise:
Etcd3Client has no attribute 'close'

[2018-07-23 16:44] jd commented on #437
AFAIU this is not a bug. It's just the way it's designed, it's a blocking iterator.

[2018-07-23 16:44] #437 closed

[2018-07-23 16:50] xuhuigithub commented on #437
I'm sorry, I corrected my words, and logically he doesn't seem to want to be a bug, but in practice, this code blocks the main thread, which is a bug.

[2018-07-23 16:58] jd commented on #437
It's not a bug. It's a design.
Just start another thread.

[2018-07-24 08:20] xuhuigithub commented on #437
Well, maybe I'm not very clear about it. I said the blocking of the main thread is when I send the signal 15 to the program, the program does not respond normally.

[2018-07-24 08:21] xuhuigithub commented on #437
This causes me to have kill -9 every time.

[2018-07-24 08:43] jd commented on #437
[code]
in another tem:
[code]
```zsh: terminated  python3 -c 'import queue; queue.Queue().get()'```

not sur what to say.

[2018-07-24 10:09] xuhuigithub commented on #437
Ok, It's my fault.

[2018-07-24 10:11] xuhuigithub commented on #437
Thank you very much,  @jd .

[2018-08-27 14:33] mvle opened #529 "Get should return response header even for non-existent keys"
Seems like currently, if you do a Get on a key that doesn't exist, (None, None) is returned.
But I think the api spec for Get indicates that it should at least return the response header which includes information such as cluster revision, etc. The GO client does indeed return such header on a similar Get.

Shouldn't be hard to change code to do this. Thoughts?

[2018-10-03 06:35] daMupfel opened #560 "Lease refresh issues when running etcd proxy"
When running the etcd proxy and connecting python-etcd3 to it i can't refresh leases anymore.

Environment:
python: 2.7
python-etcd3: 0.81
etcd/etcd proxy: 3.3.8

Code:
[code]

Error:
[code]

The perl client also seems to have the same issue: https://github.com/etcd-io/etcd/issues/9751

[2018-10-08 16:02] boolean5 opened #567 "Update proto files to the latest version"
The `rpc.proto` file used to generate the protobuf stubs is outdated and lacks several recently added etcd features.

[2018-10-11 19:39] alexk307 commented on #475
This is because this hasn't been released since that change has been made. @kragniz can you cut a new release so we can integrate this change; without it, this library leaks file descriptors.

[2018-10-11 19:42] alexk307 commented on #475
This was added July 16th:
https://github.com/kragniz/python-etcd3/commit/551055bbdbb72fd0c4b51cbe8953de73780e2eb9

But last release was June 15th:
https://github.com/kragniz/python-etcd3/releases/tag/v0.8.1

[2018-10-11 19:43] ckim0419 commented on #475
was having the same issue. I would greatly appreciate it if this gets released.

[2018-10-15 12:49] #567 closed

[2018-10-22 11:57] roygbip opened #580 "client support reconnection ？"
connected to server and few minutes later call client.get('/xxx'), got error:

[code]

[2018-10-24 06:42] jd opened #584 "Remove branch protection settings"
@kragniz You should delete branch protection settings or it'll prevent Mergify to merge automatically from pyup. :)

[2018-11-05 12:24] ayashjorden opened #594 "Working add_watch_callback example (or what is the diff between watch)"
Hi all,
I'm not the python expert, but would like to make use `add_watch_callback`.

Current code  in the constructor:
[code]

Thank you,
Jorden

[2018-11-07 17:56] harshanarayana commented on #594
@ayashjorden If you look at the implementation details of  `add_watch` you notice that it internally makes use of `add_watch_callback` itself. However, the difference is that `watch` provides a blocking behavior wherein `add_watch_callback` provides a non-blocking behavior.

[code]

Run the above code in one terminal and perform the `etcdctl` operation from another terminal on keys `/somekey` and

[2018-11-16 11:31] andy-maier opened #599 "Lock acquisition via context manager times out after 10s even if a longer timeout was specified"
**Issue:**

When using the context manager for locks and specifying a timeout of 60s (or any value > 10s):

[code]

we saw the following issues:

* Issue #1: A first instance of running that code holds the lock as expected until the specified timeout hits, but a second instance of running that code enters the `with` block already after 10s and runs concurrently to the first instance. Obviously, th

[2018-11-18 01:43] danielkza commented on #599
In addition to your analysis, the `__enter__` method also mistakenly never checks that the call to `acquire` succeeded. It should raise an exception in that case, and *never* continue as if everything is OK.

[2018-11-20 02:01] zyi1992 commented on #580
I got the same problem, seems you need to add yourself's reconnection code.

[2018-11-26 13:50] Raphael-C-Almeida commented on #340
@mattzque I agree with you. I really need #106 and it seems stalled. Is there anyone who can inform if the lib is actively developed or not? If it's active, an ETA for #106 changes would be nice. I'm using this lib for something critical, and if it's not being actively developed I have to choose another one.

[2018-11-26 13:55] kragniz commented on #340
@Raphael-C-Almeida would you like to submit a PR for the changes you require?

[2018-11-26 14:39] kragniz commented on #340
I think #106 is pretty stalled, it'd be great if you maybe could pick it up and try to get it into a mergable state.

I'm personally not using this library in production at the moment, so it's only receiving basic maintenance from me. New features are welcome, though, and I'm open to adding new maintainers.

[2018-12-03 18:55] csantanapr opened #602 "When is support for python 3.7 going to be added?"

[2018-12-03 19:37] kragniz commented on #602
@csantanapr I think it should support 3.7 already, anything you've noticed?

[2018-12-06 08:12] ayashjorden commented on #594
Yep, thank you!

[2018-12-06 08:12] #594 closed

[2018-12-16 00:39] csantanapr commented on #602
Hi @kragniz Can we added to the list in this file? and release a new version.

https://github.com/kragniz/python-etcd3/blob/master/setup.py#L57

Do you run Travis CI or other CI on most recent versions of python?

[2018-12-16 00:44] csantanapr commented on #602
I see the `.travis.yml` https://github.com/kragniz/python-etcd3/blob/master/.travis.yml#L5
Is missing python 3.7, can we add it there to run the tests on that version?

I currently see all the phython:3.6 failing https://travis-ci.org/kragniz/python-etcd3/jobs/468194250

[2018-12-20 14:22] gjcarneiro opened #616 "asyncio support?"
Any thoughts on supporting asyncio?  Anyone working on this?

I think we could use https://github.com/hubo1016/aiogrpc to provide an asyncio version of this module.

It doesn't necessarily have to be a fork, maybe we can create a `etcd3.aio` submodule or subpackage, containing async versions of the same interfaces.

Any thoughts?

[2018-12-20 16:17] kragniz commented on #616
I'd be happy to take patches for multiple backends, with an interface like `etcd3.client(backend='asyncio')`. See also #102.

[2018-12-21 18:05] gjcarneiro commented on #616
I've made considerable progress in this:
[code]

Still some tests to fix.

Main problems I encountered:

1. hypothesis interacts poorly with pytest-asyncio, requires patching, see: https://github.com/pytest-dev/pytest-asyncio/issues/93
2. tenacity usage also not playing well with async: the tenacity `wait` callback cannot be async, but it needs to perform an async call (` await self.etcd_client.wa

[2018-12-21 19:17] kragniz commented on #616
@gjcarneiro great, thanks for taking this on!

[2019-01-14 08:37] darkfour opened #641 "The connect of client support cluter?"
Can i set etcd cluster address in etcd3.client?
for example:
            etcd3.Client(host=(('127.0.0.1', 4001), ('127.0.0.1', 4002), ('127.0.0.1', 4003)))

If I have three nodes, What should i do when I create client with "etcd3.Client()"

[2019-01-17 17:50] gjcarneiro commented on #616
Good news, I made a small benchmarking script, it this is not much slower than the native etcd benchmarking tool, written in golang.  Considering how much slower Python is compared to Go, it's a good result.

[code]

With the native benchmark tool:
[code]

I used this test program:

[code]

[2019-01-17 22:42] visierl commented on #47
This may be related, but it seems a bit more problematic.  Thought about opening it as a separate issue, but I figured I would give it a try here instead.

I am running etcd3-0.9.0-py3.7 under python 3.7.1 on MacOS 10.13.6 (High Sierra).

As a demonstration, I have the following simple script:

[code]

When I run this and then, in another window add a key "/foo" with a value of "value for /foo", w

[2019-01-22 05:45] niconorsk commented on #602
https://github.com/kragniz/python-etcd3/pull/626 fixes the flake8 errors and adds python3.7 testing

[2019-01-23 19:17] visierl commented on #47
It looks like my problem (described above) is a regression in 0.9.0-py3.7 because I don't see it when I install 0.8.1.

Also, another datapoint (related? not sure) I tried adding a call to etcd.close() (i.e. client.close()) before the exit in the example I showed, thinking this might be a workaround.  When I do that, the watcher thread exceptions with a ValueError from grpc saying the channel is c

[2019-01-25 07:54] stupidchen commented on #224
I think it's thread-safe due to the GIL. I tried to create multiple threads and use the same client and the program works well. But I got lots of `ConnectionFailedError` exceptions when I tried to fork numbers of process and use the same client.

[2019-02-25 09:32] orivej opened #686 "Version 0.9.0 is not on PyPI"
https://pypi.org/project/etcd3/ lists 0.8.1.

Previously: #442

[2019-03-22 13:35] huahhh opened #715 "How to get key's Historical revision"
How to get key's Historical revision？

[2019-03-28 15:24] miha-plesko opened #719 "Misleading doc"
Hi, thanks for this awesome project. Wanted to let you know in current docs you say

[code]

which is not working, because lock has to be acquired!

[code]

[2019-04-01 18:35] pjz opened #726 "Counting keys in a transaction?"
Is there a way to do a comparison on the count of keys with a prefix inside a transaction?  That is, I want to do something like:
[code]

To only allow the `txn.success()` bit to run if there are less than ten items with the prefix `/prefix/`.  I believe the go client can do this using `WithPrefix()` and `CountOnly()` but I can't find where/if something similar is available here.

[2019-04-02 14:33] pjz commented on #726
Sorry, rong project.

[2019-04-02 14:33] #726 closed

[2019-04-02 16:17] boolean5 opened #729 "Resuming a stopped watch results in lost events"
Taking into account that there may exist multiple events with the same revision, there is currently no way to restart a watch exactly from where it stopped.

**Example**:
We start a watch on prefix `"key"`.
At revision 5, a transaction containing the following operations is applied:

[code]
The watch receives the event that corresponds to `put("key1", "val1")` and then is stopped by an exception.

[2019-04-03 05:46] ppaanngggg commented on #686
the same problem, there is no get_range() in 0.8.1

[2019-04-10 21:11] kragniz commented on #686
Now push, thanks for raising this again

[2019-04-10 21:11] #686 closed

[2019-04-24 13:30] #529 closed

[2019-05-12 22:03] #135 closed

[2019-05-12 22:03] #729 closed

[2019-05-29 15:17] paulcaskey opened #779 "JWT support"
I'm wondering if anyone here has done any thought or design work into including JWT support for authentication. I'm new to JWT and etcd v3 so I'm not sure if this would be easy or hard.

[2019-06-01 12:32] Alecyrus commented on #616
Any updated? The latest version does not support such backend parameter.

[2019-06-04 19:25] paulcaskey commented on #779
I finally got JWT debugged on my end, and it works already through this API. No work required.

[2019-06-04 19:25] #779 closed

[2019-06-18 18:00] paulcaskey opened #792 "HTTPS connection fails with SSL ERROR: BAD_ECC_CERT"
There is apparently a bug with the **openssl** library or configuration here in this python module, such that connections with HTTPS to **etcd v3 server** fail with an error like this.

`E0607 12:43:00.193069658   11623 ssl_transport_security.cc:1238] Handshake failed with fatal error SSL_ERROR_SSL: error:1000006b:SSL routines:OPENSSL_internal:BAD_ECC_CERT.`

This is reported as [GRPC Issue 6722](

[2019-06-18 19:10] paulcaskey commented on #792
Some equivalent of this would help: `ETCDCTL_INSECURE_SKIP_TLS_VERIFY=true`

[2019-06-18 22:27] kragniz commented on #719
@miha-plesko want to send a patch?

[2019-06-19 15:18] Sheph commented on #560
Environment:
python: 2.7
python-etcd3: 0.10.0
etcd/etcd proxy: 3.3.9

the same problem. any progress on this ?

[2019-07-05 09:47] achimnol commented on #580
I have the same problem when using authentication.
etcd's auth token expires after about 5 minutes, and after then, all API calls fail.

[2019-07-08 07:06] achimnol commented on #580
I've ended up writing an adaptor that reconnects & reauthenticates with specific grpc errors.
https://github.com/lablup/backend.ai-common/commit/0526a3f7a2800966f5350cbac264561d0b657f8e

Note: When initializing the etcd3 client, the first authentication routine does not apply `_handle_errors()` so I had to catch "UNAVAILABLE" exception instead of `etcd3.exceptions.ConnectionFailedError`.

[2019-07-09 21:32] #719 closed

[2019-07-09 22:24] pjz commented on #599
I think
[code]
is wrong because `ttl` is how long to hold the lock, whereas the argument to `acquire()` is how long to _wait to get_ the lock.  I think it might be more appropriate to do:
[code]
and just wait forever for the lock to be acquired.  Alternately.... hmm, I'll just make a PR.

[2019-07-09 22:28] pjz commented on #602
I'd also like 3.7 support. Can #626 get fixed up?

[2019-07-10 05:46] miha-plesko commented on #719
Thanks @kragniz and sorry that I forgot to respond

[2019-08-02 15:59] lawrenceyang opened #819 "AttributeError: 'Etcd3Client' object has no attribute 'add_watch_prefix_callback'"
Code:
import etcd3
import etcd3.etcdrpc as etcdrpc
import etcd3.exceptions
import etcd3.utils as utils
from etcd3.client import EtcdTokenCallCredentials
etcd = etcd3.client(host='localhost',port=2379)

def watch_callback(event):
    print(event)
watch_id = etcd.add_watch_prefix_callback("/foo/", watch_callback)

Message:
---------------------------------------------------------------------------
A

[2019-08-02 16:01] lawrenceyang commented on #819
Looks like some documents not updated.

[2019-08-02 16:04] kragniz commented on #819
Want to open a PR to fix that?

[2019-08-07 03:15] cyrilchang1974 opened #823 "Cannot Install python-etcd3 in aarch64"
I tried to install python-etcd over arm64 machine , but it is failed
Please refer the following information
**[Enviroment]**
node01-2468a:/tmp # uname -a
Linux node01-2468a 4.12.14-197.10-default #1 SMP Thu Jul 11 12:27:16 UTC 2019 (8509cd2) aarch64 aarch64 aarch64 GNU/Linux

node01-2468a:/tmp # cat /etc/*-release
NAME="SLES"
VERSION="15-SP1"
VERSION_ID="15.1"
PRETTY_NAME="SUSE Linux Enterprise Se

[2019-08-20 08:39] it-xiaoma opened #831 "lease"

[2019-09-18 15:16] amir-amf commented on #362
Not a good method in production environment when you have tons of keys and values!
I think they should implement the alternative for
etcdctl get "KEY" --prefix --keys-only

[2019-09-18 15:29] Mityuha commented on #560
Environment:
python: 3.6.7
python-etcd3: 0.10.0
etcd/etcd proxy: 3.2.10

the same problem

[2019-09-30 17:15] enadam commented on #291
No it's not completely solved.  When Watcher._run() receives a grpc.RpcError because of a connection break the thread doesn't stop.  With certain versions of grpcio the thread starts consuming 100% CPU.  The solution is simple: add a break statement after the callback invocations.
[patch.txt](https://github.com/kragniz/python-etcd3/files/3672417/patch.txt)

[2019-10-03 02:48] jshen28 opened #852 "decorator may not be defined as a class property"
sorry for asking dumb question, but what is the specific reason for defining method decorator inside a class like this https://github.com/lavagetto/python-etcd3/blob/5ca831bf8695d2c0e8e50a86a07290e7f1a04479/etcd3/client.py#L293?

why not define a standalone function instead?

[2019-10-13 23:30] niconorsk opened #866 "Pip install from git fails"
`pip install git+https://github.com/kragniz/python-etcd3
Collecting git+https://github.com/kragniz/python-etcd3
  Cloning https://github.com/kragniz/python-etcd3 to /tmp/pip-req-build-h_7qgp3d
  Running command git clone -q https://github.com/kragniz/python-etcd3 /tmp/pip-req-build-h_7qgp3d
    ERROR: Command errored out with exit status 1:
     command: /home/nicolai.moore/src/product/slsecure/.t

[2019-10-13 23:31] kragniz commented on #866
Cheers.

@funkyHat mind taking a look?

[2019-10-14 16:18] funkyHat commented on #866
yep that was me, sorry!

[2019-10-14 17:10] #866 closed

[2019-10-23 02:48] shufanhao opened #881 "Does support snapshot restore"
Only find snapshot api as below
`snapshot(file_obj)[source] Take a snapshot of the database.`

But doesn't find snapshot  restore, like command: `etcdctl snapshot restore`.  Does this python etcd3 library support it?

[2019-11-02 03:54] pjz commented on #616
Any progress on this? It's been 9.5 months.

[2019-11-12 10:02] claudioiac opened #914 "Package name collision when installing it with mypi"
mypi requires the packages to have unique names. In the case of this project once installed the package name is etcd3 instead of python-etcd3 This makes it incompatible if a user needs to install another package with the same name. Unfortunately mypi has plenty of other projects that install "etcd3" folders. One for all is etcd3-py that implements a REST client. It is quite possible that a user ne

[2019-11-21 03:42] #831 closed

[2019-12-07 14:30] RattyDAVE opened #952 "Install errors on 0.11.0"
In the past hour or so I am now getting errors. I think this may be related to the new commit.

Output below.

DAVE

[code]

[2019-12-07 14:48] RattyDAVE commented on #952
Just doing some diags and 'pip install etcd3==0.10.0' works fine.

[2020-01-04 14:18] #952 closed

[2020-01-10 15:13] telmich commented on #641
Just wondering - is this on the roadmap?

[2020-01-12 16:12] babueter opened #997 "Thread exception when calling close on client after watcher is started"
**Description**:
The callback thread throws an exception when calling close on client if a watch has been started.  Even if the watch is canceled the thread remains and throws a ValueError at etcd3/watch.py line 126.

**Code to reproduce**:
[code]

**Error message**:
[code]

**python version**:
Python 3.6.9

**pip freeze**:
asn1crypto==0.24.0
coverage==5.0.3
crc32c==2.0
cryptography==2.1.4
etcd3==

[2020-01-14 12:58] telmich opened #1002 "Channel error when missing cert"
I believe we should not try to close the channel if the certificate wasn't found:

[code]

[2020-01-16 09:17] graingert opened #1003 "io in Client constructor"
`etcd3.client.Client` performs IO in its constructor

https://github.com/kragniz/python-etcd3/blob/aca9b60205620e31b1635ce32b7ef74170698c7e/etcd3/client.py#L127

https://github.com/kragniz/python-etcd3/blob/aca9b60205620e31b1635ce32b7ef74170698c7e/etcd3/client.py#L148

this makes it difficult to create an asyncio port or a thread based wrapper

is it safe to call `.__enter__()` and `.__exit__` in

[2020-01-16 16:09] gjcarneiro commented on #616
Hm.. not seeing much value of anyio, to be honest, reminds me of https://xkcd.com/927/

[2020-01-16 17:29] graingert commented on #616
Well not really because anyio doesn't compete with asyncio, trio or curio it allows libraries to work with any of them by defining a subset interface of all three

[2020-01-16 18:28] gjcarneiro commented on #616
I'll be blunt.  Honestly I just care about asyncio.  Trio and curio should work with asyncio, not against it.  Adding another API on top the 3 async APIs doesn't solve anything.

[2020-01-16 21:50] kragniz commented on #1003
where would you suggest moving that io? New methods like `client.auth(user, password)`?

[2020-01-17 11:29] graingert commented on #1003
@kragniz perhaps it could be executed lazily the first time .channel is accessed?

[2020-01-17 12:35] graingert commented on #1003
@kragniz or Client could require an instance of some `Auth` object

[2020-01-17 12:39] graingert commented on #1003
`etc3.Client(etcd3.Auth.from_file())`

[2020-01-20 12:06] kragniz commented on #1003
Maybe an auth object could be optional, so it can be internally created if it's not supplied. This way the api doesn't change for current users and it should be easier to create wrappers.

[2020-01-20 12:09] graingert commented on #1003
Sure it could probably emit a depreciation warning if not present too

[2020-01-22 13:47] kragniz commented on #1003
@graingert do you fancy writing a patch to add this?

[2020-02-05 04:07] skeetwu opened #1026 "AttributeError: '_MultiThreadedRendezvous' object has no attribute 'events'"
Hi,

I got follow exception:
[code]

call stack code:
/root/CSF-BCMT/bcmt-controller", line 198
`    new_task = b.etcd_watch_prefix_once("/BCMT/queue/" + role, start_revision=wait_index)
`
/root/CSF-BCMT/ncms/commands/utils/bcmt.py", line 448
[code]
Three threads run these code in the same time, it looks like this issue was caused by multi threads.
could you help to give some idea about this and h

[2020-02-06 22:36] ssampath commented on #560
I am running into this issue as well in my setup.  I manually patched changes to client.py and I don't see the problem anymore.

I see that the fix is still in 'open' state.  Any update on when this fix will be available.

[2020-03-03 06:42] karthikdialpad opened #1063 "PreconditionFailedError does not have the reason for the failure."
Steps to reproduce it.
1. Try to add a member that was already part of the etcd cluster.
2. You will get a PreconditionFailedError. (With no message property)
3. But when I used the etcdctl to add a member that was already exist that clearly says the member already exists and the status code also signifies PreconditionFailedError.

The Expectation is when there is an Error thrown, we need to ident

[2020-04-09 17:01] cenkalti opened #1107 "Lock.acquire method misses DELETE event while waiting"
... because it does not pass revision number to `watch_once` method. If DELETE event happens before watch, it does not get sent to the watcher and `acquire` waits to end of timeout.

Go implementation does it correctly: https://github.com/etcd-io/etcd/blob/7eae024eade9e4d523544026c9312b687dbfae94/clientv3/concurrency/mutex.go#L85

The bug is introduced in this commit: https://github.com/kragniz/py

[2020-04-09 17:06] kragniz commented on #1107
Nice, could you send a PR?

[2020-04-09 17:12] cenkalti commented on #1107
Working on it...

[2020-04-14 09:21] #1107 closed

[2020-04-16 07:18] tmccombs opened #1120 "Prefix operations in transactions."
It currently isn't very easy to perform prefix operations inside transactions.

I can see a few ways to do this in the API:

1. make `utils.increment_last_byte` public, so it can be used to create the `range_end` argument
2. add new GetPrefix, and DeletePrefix operations to transactions
3. add a keyward argument to the get and delete operations to specify using a prefix instead of a single item

I

[2020-04-16 08:29] kragniz commented on #1120
Hi @tmccombs, thanks for the suggestions.

Your option 2 seems like a good idea.

For the increment_last_byte problem, do you want to make a separate patch?

[2020-04-16 19:22] tmccombs commented on #1120
sure, I'll put together a couple PRs tonight.

[2020-04-17 05:50] tmccombs opened #1124 "Error when running `./setup.py develop` with python 3.8"
When following the instructions in CONTRIBUTING.rst, I get the following error:

[code]

[2020-04-17 05:57] tmccombs commented on #1124
I tried running `docker-compose up` and ran into the same problem with python 3.5

[2020-05-07 02:25] songlin51 opened #1149 "import etcd3 error"
python 2.7.12 run  import etcd3 An error：

File "xx.py", line 10, in <module>
    import etcd3
  File "/Library/Python/2.7/site-packages/etcd3/__init__.py", line 4, in <module>
    from etcd3.client import Etcd3Client
  File "/Library/Python/2.7/site-packages/etcd3/client.py", line 13, in <module>
    import etcd3.locks as locks
  File "/Library/Python/2.7/site-packages/etcd3/locks.py", line 3, in

[2020-05-07 02:31] songlin51 commented on #1149
I performed PIP uninstall tornado and now it is normal. It should be version compatibility problem. Thanks

[2020-05-07 02:31] #1149 closed

[2020-06-20 11:42] YonguoS opened #1203 ""ConnectionFailedError: etcd connection failed" when connecting by cert"
Version: etcd3-0.12.0;
Code:
`import etcd3`
`client = etcd3.client( host='100.85.243.19',
                    port=22379,
                    timeout=60,
                    ca_cert='/root/etcd_keys/ca.pem',
                    cert_key='/root/etcd_keys/pkcs8-key.pem',
                    cert_cert='/root/etcd_keys/client.pem',
                )`

Connection by password is ok, but cert has some pr

[2020-06-20 17:09] achimnol commented on #997
Same error here.
There is no way to remove this exception using the public APIs.
There is no `callback_thread.join()` and the `Watcher._run()` method seems to have no terminating conditions.

[2020-06-20 17:25] achimnol commented on #997
After using an watcher, the following shutdown code can reliably reproduce the issue.
[code]

[2020-06-23 13:47] #1203 closed

[2020-07-05 10:37] babueter commented on #997
See PR: https://github.com/kragniz/python-etcd3/pull/1223

[2020-07-08 08:19] alvalin0203 opened #1227 "Python-etcd3 watch timeout or hang forever if token expired"
Hi，anyone meet the same problem？
I use python-etcd3 in our project, mainly use watch function and found if there are frequently interacting between client<->server，which keeps the user token works well，then the watch function works well, but if there is no any interacting between client and server for specific time（for example 5minutes），that leads server delete client‘s token，after then client con

[2020-07-10 22:31] bugi opened #1228 "Here's a workaround for exceeding gRPC message size with get_prefix()."
When calling get_prefix() against an etcd v3 source with >175,000 keys, I got an error like this:

        File ".../lib/python2.7/site-packages/grpc/_channel.py", line 729, in _end_unary_response_blocking
        raise _InactiveRpcError(state)
            grpc._channel._InactiveRpcError: <_InactiveRpcError of RPC that terminated with:
            status = StatusCode.RESOURCE_EXHAUSTED

[2020-07-11 16:25] dcrearer opened #1229 "secure connections to etcd with TLS certs not working"
{"level":"info","ts":"2020-07-11T12:01:29.568-0400","caller":"embed/serve.go:191","msg":"serving client traffic securely","address":"127.0.0.1:2379"}
{"level":"warn","ts":"2020-07-11T12:10:17.474-0400","caller":"embed/config_logging.go:279","msg":"rejected connection","remote-addr":"127.0.0.1:59996","server-name":"localhost","error":"tls: client didn't provide a certificate"}
{"level":"warn","ts":

[2020-07-14 13:49] imcom commented on #1026
we met the very same issue, where we run etcd-client in a thread. Somehow I do not believe it is caused by multithreading though. But unfortunately, we did not manage to get the actual gRPC error code / message from the exception. I am trying to reproduce the issue in lab, will share the results later on

[2020-07-17 02:10] skeetwu commented on #1026
@imcom ,
This project have no update more than 3 months, I have changed solution in our new version production.
![image](https://user-images.githubusercontent.com/3224744/87740829-c26ccc80-c815-11ea-93ac-4b13c4a8b52e.png)

[2020-07-17 02:11] #1026 closed

[2020-07-19 14:13] imcom commented on #1026
@skeetwu May I know your alternative Python lib for Etcd?  By the way, I figured this is error has nothing to do with multithreading, but just Etcd gRPC error, normally it would just be a network disconnection. We can catch the error as gRPC Error and re-init the etcd stub would just work.

[2020-07-21 05:39] skeetwu commented on #1026
@imcom According to my analysis, this issue occurred when more than one python-etcd client try to access the server.

We use this part as a message queue, this is not a good design, so, I rewrote all of this part, remove the message queue base on ETCD.

[2020-07-24 18:32] Mityuha commented on #560
I'm not even sure if someone from developers know about this bug.
@kragniz ,tell us, please, that you know and what you do think about it.
Almost 2 years has passed

[2020-07-30 12:40] alvalin0203 opened #1254 "get_prefix memory useage is very high"
Hi，anyone know？
When I just use etcd3 client to get_prefix for a big prefix(that has lots of keys), and do nothing with the return value and just return to the outter function, but the memory is still very hige, not decrease, only when shutdown the process the memory would decrease
Anyone know the reason?

[2020-08-03 03:14] wuji1020 opened #1258 "Why not support multi-hosts in etcd v3 client"
In etcd v2 python client, It is allowed to input multi-hosts to improve the high availability, But in etcd v3 python client, only one host is allowed , anyone knows why?

**V3:**
[code]

**v2:**

[code]

[2020-08-06 02:14] qtccz commented on #1258
Hello, can you tell me the version number containing V2. thanks！

[2020-08-06 09:03] wuji1020 commented on #1258
The package of  etcd v2 python client here: https://pypi.org/project/python-etcd/
The source codes here: https://github.com/jplana/python-etcd/blob/master/src/etcd/client.py

[2020-08-14 09:10] ghostbody commented on #1258
+1

[2020-08-24 03:18] casper-lc commented on #1258
what's wrong with #106, it's something really useful I'm interested on it's dev stage

[2020-08-26 03:57] antonputra opened #1286 "How to get current and previous version of the key?"
How can I get current and previous version of the key during watch operation?

[2020-08-26 16:29] gh-kgangineni commented on #881
Any update on this please

[2020-09-01 18:46] chetananand opened #1293 "Support for etcd namespaces in keys"
Would it be possible to support etcd namespaces for keys like the official Go client ?
https://godoc.org/github.com/coreos/etcd/clientv3/namespace

[2020-09-18 21:50] geoffjukes opened #1314 "Context Manager Doc suggestion"
Hi,

I recently switched from a home-baked Conul lock to this, mostly for its simplicity. But I got bitten by the assumption that a context manager acquire will throw an exception if it fails to acquire.

[code]

The documentation could make this clearer:

[code]

I'm happy to submit a PR that would throw an exception if the lock fails to acquire, but I see a lot of open PRs and tickets.

[2020-09-18 22:32] geoffjukes commented on #1314
Looking deeper, this is more of a general issue.

[code]

In the above, the `#do something` will execute regardless of whether or not the lock is acquired. This makes it unsuitable for long-running locks.

[2020-09-21 12:51] Rayzhsre opened #1315 "etcdserver: invalid auth token"
etcdv3 client.
some error message:
status = StatusCode.UNAUTHENTICATED
	details = "etcdserver: invalid auth token"

I found some issue about jetcd client,but nothing for python. How can i fix this error message?

[2020-09-27 15:00] debu99 commented on #1228
how to catch this error in exception?

[2020-09-27 17:14] bugi commented on #1228
There's an example of catching the exception in the list-keys.txt file attached in the issue.

[2020-09-28 03:27] debu99 commented on #1026
Is this fixed already?

I can reproduce it when add callback to watch etcd key, and then restart the etcd server, this could reproduce this error

[2020-10-10 08:50] skeetwu commented on #1026
@debu99 no, have not been fixed.

[2020-10-30 08:52] zhenglilei opened #1353 "How to use keepalive correctly?"
import etcd3
import time
from threading import Thread

def keeper():
    client = etcd3.client(host="xx.xxx.xxx.xx", port=2379)
    lease = client.lease(ttl=10)
    lease.refresh()
    client.put('test_key', 'test_keeper', lease=lease.id)
    print("lease_id", lease.id)

if __name__ == "__main__":
    etcd_keeper = Thread(
        target=keeper(), daemon=True)
    etcd_keeper.start()
    etcd_keep

[2020-11-03 18:13] alppucodes opened #1361 "passing an extra keyword to _build_get_range_request doesnt get applied"
TL;DR: passing an extra keyword to '_build_get_range_request` doesnt get applied. Is this known and should be like this? Or could this be added as a feature?

I wrote the request by hand and the limitations work, and upon closer look I think that the only keywords getting applied to a RangeRequest are `key`, `range_end`, `sort_order`, `sort_target` and `serializable`.

Your source code that handle

[2020-11-09 12:38] patkoscsaba commented on #616
Any progress on this one?

[2020-12-20 04:55] tianc777 opened #1411 "watch_prefix memory leak"
**memory leak of continually calling watch_prefix() when cancel() not called**

`import etcd3
import tracemalloc

e = etcd3.client()

# for i in range(100000):
#     e.put('/foo/bar', b'value')

tracemalloc.start()
while 1:
    snap = tracemalloc.take_snapshot()
    for s in snap.statistics('filename')[:1]:
        print(s)
    i = 0
    it, c, = e.watch_prefix('/foo', start_revision=1)
    for ev

[2021-01-07 04:08] wuchengyi2006 opened #1428 "pr automatic check error"
./etcd3/client.py:204:5: C901 'Etcd3Client._build_get_range_request' is too complex (16)
ERROR: InvocationError for command /home/build/python-etcd3/.tox/flake8/bin/flake8 (exited with code 1)
___________________________________ summary ____________________________________
ERROR:  py38: InterpreterNotFound: python3.8
ERROR:   flake8: commands failed

Is this sure to work properly? PR has been reje

[2021-01-23 18:05] tsaridas commented on #616
I'm really looking forward to this. Can somebody please provide an update ? @hron

[2021-01-23 18:26] hron commented on #616
@tsaridas it's not about me to merge this PR. You can check this project: https://github.com/martyanov/aetcd3. It's based on my work.

[2021-01-25 09:42] jmt99 commented on #1258
But that doesn't solve the problem

[2021-01-28 17:24] graingert commented on #914
@claudioiac the package is called https://pypi.org/project/etcd3/ why would you want the dist name to not match the package name?

[2021-01-29 07:22] claudioiac commented on #914
quite right! you are the only package that can have the name etcd3! Sorry I did post the same comment also to the other projects that they also install a package called etcd3. But you still have the name python-etcd3 under project description in
https://pypi.org/project/etcd3/ maybe you were once called like that?!

[2021-02-07 16:26] lz006 opened #1467 ""ConnectionFailedError: etcd connection failed" due to "InactiveRpcError of RPC""
Hello,

Suddenly we are facing connection problems between python-etcd3 client and etcd server. Unfortunately error occurs occasionally while prior and subsequent calls work fine. After short analysis the only difference between a stable version of our python app and current one was urllib3 version:

stable version= python-etcd3:0.12.0 / **urllib3:1.25.11**
current problematic version= python-etcd

[2021-02-16 19:26] lz006 commented on #1467
Sadly urllib3 downgrade didn't do the trick.

[2021-03-16 08:14] maluyazi opened #1513 "add_watch_callback"
when the create_watch request is invalid, there is no way to inform the caller, better add callback(None) in all fail conditions

[2021-03-16 08:16] maluyazi commented on #1353
cause the thread ends

[2021-03-23 09:54] rlegonidec commented on #616
Hello,
The current pull requests use another gRPC external libs.
I'm working on an asyncio compatible client. It uses the same grpc.io lib and the existing code as much as possible.
I will create a pull request soon with the updated documentation with all tests.

[2021-04-15 04:36] EmptyLungs commented on #1258
Any progress on this feature?
Domain with multiple IP addresses doesn't work either, address is resolved once client is created.

[2021-04-16 17:17] mtraynham opened #1543 "0.12.0 release tenacity is 7.0.0 incompatible"
Seems by default tenacity 7.0.0 is being pulled in and causes the below exception:
[code]

Strangely, the tagged version in this repo seems to reflect it should be [tenacity 5.0.2](https://github.com/kragniz/python-etcd3/blob/v0.12.0/requirements/base.in#L2).  But the one on PyPi installed copy has tenacity >=6.1.0.

I've pinned locally to 6.1.0 to correct the issue.

[2021-04-26 06:33] r350178982 opened #1551 "Multiple hosts of cluster"
Good day fellas!
Is there any possible to create a client by using multiple hosts(say three) in cluster? for example, client = etcd3.client(hosts=[xxxx.xxxx, xxxx, xxx]) and something like this. Or is there some other way to meet my need?

[2021-04-26 11:07] qiaominghe commented on #1543
我也遇到了，楼主解决了吗

[2021-05-06 16:03] MrManicotti opened #1566 "AttributeError on Watch Filters during Create Watch Request"
## Issue Description
On adding a filter to a watch request, `Watcher._create_watch_request` will throw an AttributeError due to a direct `filters` assignment to a proto `repeated` object

## Error log
[code]

## Resolution
`create_watch.filters.extend(filters)` instead of assignment

[2021-05-07 11:26] kragniz commented on #1566
Fixed in #1567

[2021-05-07 11:26] #1566 closed

[2021-05-21 08:59] ainoniwa commented on #1551
Probably, you can use this dirty hack...

[code]

[2021-06-01 08:31] chanhz opened #1610 "etcd connection failed in client"
Hi, I met a error while using ca to build a client:
[code]
What make me confuse is that  etcdctl works well, but the lib failed.

[2021-06-24 10:11] thomas-brandeho commented on #599
Any update concerning this issue?

I'd like to be able to specify a different timeout than the default one when using a lock within a context, which does not seems possible at the moment.

Should be as simple as adding a timeout parameter in the `__init__` of Lock() and using said value in `__enter__`, unless I'm missing something?

[2021-06-24 14:40] pjz commented on #599
I submitted a fix, but the code changed out from under me so it no longer cleanly applies.  I'm no longer using etcd, but feel free to take my changes as a guide to try and make a new fix.

[2021-06-28 05:25] socketpair opened #1622 "Document watch callbacks are called from different thread"
Document watch callbacks are called from different thread. It's VERY important

[2021-07-03 01:19] hqsh opened #1623 "the "filters" paramter of add watch function cannot be assigment"
hello,

i want to add watch which only watch the put event of a key.

but i got the exception:
AttributeError: Assigment not allowed to repeated field "filters" in protocal message object.

than i found the code in "etcd3/watch.py" line 62 & 63 is:
if filters is not None:
    create_watch.filters = filters

i wonder whether the code should be:
if filters is not None:
    for filter in filters:  #

[2021-07-03 01:38] hqsh commented on #1623
i found the code in github is correct.

if​ ​filters​ ​is​ ​not​ ​None​:
    create_watch​.​filters​.​extend​(​filters)

but the code downloaded by "pip install etcd3" is not correct.

[2021-08-06 02:58] PingHao opened #1648 "return revision when put_if_not_exists() succeed"
Current implement of put_if_not_exists() only return bool indicate succeed or not, I think it's make more useful to return revision of key, for example, after put_if_not_exits(KEY), user add watch of KEY to monitor if it's been delete or not. without revision, it always has the chance that the next watch call didn't catch all event since PUT, unless use revision as parameter.

with revision, a bet

[2021-08-07 13:15] PingHao commented on #1648
FYI, this is a gist I wrote about leader election recipe compatible with "etcdctl elect" command, in there it use put_not_exist() return revision.
https://gist.github.com/PingHao/c9ab07b6e82c0887cce970b10466e307

[2021-08-11 06:18] Vascom opened #1651 "Question about requirements"
Is /requirements/base.txt contain really mimimal required versions of dependencies?
Or it is just versions installed on author's system?

I maintain rpm package python-etcd3 for Fedora/GNU Linux and latest versions not always available. So I want to know which minimal required versions?

[2021-08-12 14:34] socketpair opened #1653 "Tests from master branch does not work"
1. they can not install python3-click
2. If I change everywhere python 3.5 to Python 3.6 - several tests fail.
Also you use obsolete version of etcd.

[2021-09-03 08:09] imcom commented on #1353
you need to call the refresh periodically, you just do it once currently in your code
you need to call it every interval (<10s)

[2021-09-05 19:56] piyush97ps opened #1670 "client status"
Hey recently i was using this library for my etcd cluster nodes,
i think there isn't a method to check the etcd client status weather client is  down or up

also can we also add a method to get an active etcd client node out of a etcd node cluster, or get an active client from a given multiple etcd host

[2021-09-17 07:35] song-py opened #1684 "RevisionCompactedError need more information"
If I use one watch callback function to handle multiple keys，i can not known which watch_id or is canceled.
Now you must one watch callback function handle one key

[2021-10-13 03:44] fly-studio opened #1716 "limit is not used in `get_range_request` of 0.12.0"
I want to read the last revision of a key(with prefix)
but report grpc body is greater then 4M when key/value is big
[code]

`limit` is not used in the body of `_build_get_range_request`, but used in the master branch

When will the next stable release be?

[2021-10-13 23:31] gaby opened #1719 "Project Status"
What is the current status of this project?

- There's currently 89 PR's
- Python 3.5 is deprecated, Python 3.6 will be deprecated soon
- Current tests are failing
- Lack of multiple clients support

Any information you can provide? @kragniz

[2021-10-15 03:25] johnxiaohe opened #1721 "When will the multi-node version be released"

[2021-12-07 08:19] zhangguanzhang commented on #1258
Any progress on this feature?

[2022-01-03 01:51] lukeplausin commented on #1543
I'm getting this issue with the latest version in PyPI while trying the examples on the readme.

[code]
If the lock is already acquired it results in this exception:

[code]
Since the problem seems to be fixed in the source - perhaps the maintainers could make a version 0.12.1 release with the correct package requirements to PyPI?

[2022-01-15 18:59] AlexShemeshWix commented on #1721
+1

[2022-01-21 09:35] dylangageot commented on #1721
+1

[2022-01-24 06:25] DevenWen opened #1803 "install fail; etcd3-0.11.1; ValueError: need more than 0 values to unpack"
hi, thanks for the great lib you made! But I got an error when I ininstall etcd3 by pip.

env:
OS: ubuntu 16.4
pip version: 9.0.3
python version: 2.7.12

I build a docker image for python project, and I need to install python deps first.
docker file script:
[code]

as result, I got an error as follow.
[code]

any comment will be appreciated!

[2022-01-25 07:57] DevenWen commented on #1803
I figout myself, for update wheel version.

[2022-01-25 07:58] #1803 closed

[2022-02-08 11:17] wangzhe0912 commented on #1721
+1

[2022-02-08 13:36] gaby commented on #1719
@kragniz Friendly bump

[2022-02-09 06:23] Rayzhsre commented on #1315
@carantunes  no...  I've solved my problem in another way

[2022-02-22 18:47] Roguelazer opened #1823 "deprecation warnings from protobuf"
[code]

[2022-03-21 15:12] Iss-in opened #1836 "get key detail from callback function"
Sily question, but pls help me in getting the key and value from watching a range of keys using etcd3.

Tried looking into attributes of `event` object ,but there's no such field as key name or value

[2022-03-21 15:48] #1836 closed

[2022-03-25 03:02] qshzhang opened #1838 "a problem in using lease"
[code]
some problems are encountered,
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python3.6/site-packages/etcd3-0.12.0-py3.6.egg/etcd3/client.py", line 48, in handler
    _translate_exception(exc)
  File "/usr/local/lib/python3.6/site-packages/etcd3-0.12.0-py3.6.egg/etcd3/client.py", line 46, in handler
    return f(*args, **kwargs)
  File "/usr/

[2022-03-25 04:37] #1838 closed

[2022-03-25 04:38] qshzhang commented on #1838
the reason is that the time is expired

[2022-03-30 15:20] hubodz opened #1846 "client.close() occasionally takes 10s"
Hello,
Occasionally, but quite often, I have a case where `client.close()` takes 10 seconds (between 10.0 and 10.2 to be more specific).
I tried lowering the client timeout (assuming it may be connected), but it doesn't seem to have any influence.

I guess problem may be connected with gRPC client closing, but not sure how to troubleshoot it further.

ETCD logs don't show anything different from t

[2022-04-16 15:10] nagylzs commented on #1258
+1 need this!

[2022-04-20 09:12] qshzhang commented on #1721
+1

[2022-04-27 08:52] laixintao commented on #1315
same issue here...

[2022-05-05 09:30] mangox commented on #1716
I'm facing this issue too.

[2022-05-05 10:00] mangox commented on #1716
I have solved this issue by setting grpc options.
`etcd3.client(host=host, port=port, grpc_options={'grpc.max_receive_message_length': -1, 'grpc.max_send_message_length': -1})`

[2022-05-09 10:29] ikariwing commented on #1823
+1 .. :)

[2022-05-11 09:47] eliminyro opened #1876 "python-etcd3 is incompatible with grpcio versions newer than 1.44.0 (1.45+)"
### What version of gRPC and what language are you using?
grpc v1.45.0

### What operating system (Linux, Windows,...) and version?
Ubuntu 20.04

### What runtime / compiler are you using (e.g. python version or version of gcc)
python 3.8.10

### What did you do?
Update grpc from 1.44.0 to 1.45.0 and run it against etcd v3 server with authentication enabled using python-etcd3 module.

### What did

[2022-05-17 13:27] durzo commented on #1719
@kragniz ?

[2022-05-18 02:19] gaby commented on #1719
This library may need to be forked.

[2022-05-18 05:31] qd452 commented on #1876
same issue here

[2022-05-18 06:40] jkawamoto commented on #1876
If I'm not mistaken, grpcio now requires that the etcd server uses HTTPS when you need authentication.

[2022-05-18 07:53] durzo commented on #1719
I looked at the openstack maintained library https://opendev.org/openstack/etcd3gw and was able to use as a drop-in replacement with a few minor tweaks - the returns on some of the functions are different to this library but otherwise works the same.

The only issue is poor documentation (almost nothing, you have to read the source to find the functions). and not everything is working/supported (g

[2022-06-10 09:25] crmpicco opened #1900 "etcd3 does not connect to 3.5.0 server but etcd does"
I am trying to work out why my usage of `etcd3` in my Python 3 application does not connect to the etcd server, however using `etcd` does.

My server is 3.5.0:
[code]
When I try connecting with `etcd3`, I get the following "etcd connection failed" error:

python3
Python 3.8.10 (default, Mar 15 2022, 12:22:08)
[GCC 9.4.0] on linux
Type "help", "copyright", "credits" or "license" for more informatio

[2022-06-10 13:11] eliminyro commented on #1876
I've checked the code of python-etcd3 library itself, and it seems that secure_channel is used for HTTPS connections only.
I've tried using the library with the newest grpcio with TLS enabled on etcd server, and it seems to be working alright.
I wasn't obvious that it is mandatory though.

However, if someone else stumbles upon this issue might find this useful. I'll close the issue, since it seem

[2022-06-14 12:25] AlexShemeshWix commented on #1258
when release i can see its merged to master but not released yet

[2022-08-08 02:57] Sanfield opened #1954 "Do you still maintain this project?"
Do you still maintain this project?

[2022-08-08 11:40] stephenfin commented on #1954
Hey, @kragniz isn't maintaining this project. I've been hoping to revive it but haven't found the time yet. As noted at https://github.com/kragniz/python-etcd3/issues/1719#issuecomment-1129689062, https://opendev.org/openstack/etcd3gw is a good alternative to use for now.

[2022-08-08 11:40] #1954 closed

[2022-08-10 17:26] mingxing47 commented on #1954
hey, @stephenfin , is there any chance  for me to become one of the contributor, because I use this in my project, and want to update it.

[2022-08-10 21:01] stephenfin commented on #1954
@mingxing47 I'd be more than happy to review PRs and add you then, if that works for you? Would be good to have multiple sets of eyes on the fix. I have tried to fix this but got stuck because `pifpaf`, which we use for running tests, is broken on recent versions of etcd. I've started fixing that but never finished it. We probably want to migrate away from pifpaf first and switch to GitHub Actions

[2022-08-11 06:36] jkawamoto opened #1957 "TypeError: Descriptors cannot not be created directly"
I got this error after upgrading `protobuf` to v4.21.4.

[code]

[2022-08-11 08:33] Sanfield commented on #1954
我非常乐意帮你修复此问题，成为一个贡献者

[2022-08-11 08:34] Sanfield commented on #1954
I would be more than happy to help you fix this and be a contributor

[2022-08-12 09:24] kragniz commented on #1954
All this extra energy has revived me - I'm going to do a bit of maintainance and help @jkawamoto merge their patches

[2022-08-13 05:47] jkawamoto commented on #1954
I'm glad to help with this project. Hopefully, #1959 and #1962 fix CI errors.

[2022-08-14 06:01] jkawamoto commented on #1954
@stephenfin I've just realized the pifpaf's issue you mentioned in https://github.com/kragniz/python-etcd3/issues/1954#issuecomment-1211267433.

How about this patch?

[code]

I can pass tests. (I use `docker-compose up`). Unfortunately, https://github.com/jd/pifpaf/pull/135 doesn't work with etcd v3.5.4. I'm fixing it, and hopefully, I can open a PR.

[2022-08-14 09:08] jkawamoto commented on #1954
I opened https://github.com/jd/pifpaf/pull/156.

Tests with etcd v3.5 work for me with this patch:

[code]

[2022-08-17 06:44] Sanfield commented on #1954
@stephenfin Fixed the above problem, will a new version be released soon?

[2022-08-17 08:18] #1957 closed

[2022-08-25 11:32] SimonMing47 commented on #1954
@kragniz hi, When will a new version be released

[2022-09-09 14:06] the-glu commented on #1876
We got the issue by trying to auth agaist a local etcd.

We fixed it by using our own Etcd3Client, with that in the `__init__` function:

[code]

(I removed extra unused args)

Not sure how / if I can create a PR with a proper fix :)

[2022-09-28 13:38] Sanfield opened #1991 "hi guy，we need to come up with a new version to fix the previous problem. If there is, I can help."

[2022-10-03 07:26] ghost commented on #823
It works but it takes time to build

[2022-10-10 17:05] steve-solun opened #2000 "Can't use etcd3 package?"
I have installed etcd3:

[code]

trying to import:

`import etcd3`

Getting the following error:

[code]

[2022-10-10 17:07] steve-solun commented on #2000
@kragniz @jd @pjz @jeckersb @funkyHat  can you please assist?

[2022-10-10 20:36] steve-solun commented on #1900
@crmpicco did you manage to fix it?
I am in the same situation, even worse, I am on Mac M1 and if I will install the package it won't let me to import it due to protobuf and if I am using docker - it says port conflict.

[2022-10-11 07:21] LKaemmerling commented on #1957
hey @kragniz,

would it be possible that you tag a new release with this fix?

[2022-10-12 12:26] rochacbruno commented on #2000
Just got the same error

[2022-10-12 12:28] rochacbruno commented on #2000
You can fix the problem by doing

[code]

[2022-10-12 12:28] rochacbruno commented on #2000
looks like protobuf broke compatibility on 4+

[2022-10-12 12:46] steve-solun commented on #2000
@rochacbruno yep solved it with `protobuf==3.20.3`

[2022-11-02 09:10] kimitoboku commented on #1716
I have solved as following setting.
`etcd3.client(host=host, port=port, grpc_options=[('grpc.max_receive_message_length', -1), ('grpc.max_send_message_length', -1)])`

`grpc_options` is parsed as a list of the key-value tuples.
https://github.com/grpc/grpc/blob/066a310df1fe9d68a00f346bd36e6c965d62e528/src/python/grpcio/grpc/_channel.py#L1450-L1460

`'grpc.max_receive_message_length`: https://grpc.